<div class="row">
  <div class="col-md-12 col-sm-12">
    <h3>Messages</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12">

    <ul *ngIf="messages.length" class="list-group">
      <li *ngFor="let message of messages" class="list-group-item" style="min-height: 4em">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <span>{{message.decryptedText}}</span>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="pull-right">
              <div>
                <span class="label label-info">From: {{message.fromUser.email}}</span>
              </div>
              <div>
                <span class="label label-info">{{message.date}}</span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div *ngIf="!messages.length">
      You don't have messages
    </div>
  </div>
</div>

<form (ngSubmit)="send()" class="form-inline">
  <div class="form-group" style="width: 80%">
      <input class="form-control"
             name="text"
             style="width:100%;"
             [(ngModel)]="message.decryptedText"
             placeholder="Enter you message...">
  </div>
  <div class="form-group">
      <button class="btn btn-default">Send</button>
  </div>
</form>

<ui-loader *ngIf="loading"></ui-loader>

<router-outlet></router-outlet>
