<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">ZeroKit Demo</a>-->
      <a class="navbar-brand" href="#">Encrypted Messenger Demo</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <!--<ul class="nav navbar-nav" *ngIf="user">-->
        <!--<li class="active" >-->
          <!--<a [routerLink]="['zero-kit','encrypt']" routerLinkActive="active" >Encrypt</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]="['zero-kit','decrypt']" routerLinkActive="active" >Decrypt</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]="['zero-kit','share']" routerLinkActive="active" >Share</a>-->
        <!--</li>-->
      <!--</ul>-->
      <p class="navbar-text pull-right" *ngIf="user">
        Signed in as <strong>{{user.email}}</strong>
        <sign-out></sign-out>
      </p>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<router-outlet></router-outlet>
