<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
      <form class="form-signin"
            (ngSubmit)="signIn()"
            #loginForm="ngForm">
        <h2 class="form-signin-heading text-center">Sign in</h2>
        <label for="inputUserName" class="sr-only">Email</label>
        <input
          type="text"
          id="inputUserName"
          class="form-control"
          placeholder="Email"
          required=""
          autofocus=""
          name="email"
          [(ngModel)]="user.email">
        <div #loginIframe></div>

        <div class="checkbox"></div>

        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        <button class="btn btn-link btn-block" type="button" routerLink="/auth/sign-up">Sign Up</button>
      </form>
    </div>

    <div class="hidden" #zkitAuthFrame></div>
  </div>
  <ui-loader *ngIf="loading"></ui-loader>
</div>


